<h1 class="mb-3">DLNA Player</h1>

<div id="dlna_container">
    <div id="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f0/Dlna.svg/1280px-Dlna.svg.png" class="full-img">
    </div>
    <div>
        <select id="device">
            <option>Loading devices list</option>
        </select>
    </div>
    <div>
        <input type="text" id="mediaURL" placeholder="Media URL">
    </div>
    <div>
        <button id="play">Play!</button>
    </div>
    <div><img src="https://nodejs.org/static/images/logos/nodejs.png" class="full-img"></div>
</div>