.sidebar {
    height: calc(97vh); /* Default for larger screens */
}

.slide-fade-enter-active,
.slide-fade-exit-active {
    transition:
        opacity 0.6s ease,
        transform 0.4s ease-in-out 100ms;
}
.slide-fade-enter,
.slide-fade-exit-to {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-fade-enter-to,
.slide-fade-exit {
    transform: translateX(0);
}

/* Smaller screens: less than 600px */
@media screen and (max-height: 600px) {
    .sidebar {
        height: calc(97vh - 10px); /* Reduce the subtracted value */
    }
}

/* Medium screens: between 600px and 900px */
@media screen and (min-height: 601px) and (max-height: 900px) {
    .sidebar {
        height: calc(97vh - 20px); /* Adjust the subtracted value */
    }
}

/* Medium screens: between 1000px and 900px */
@media screen and (min-height: 900px) and (max-height: 1300px) {
    .sidebar {
        height: calc(97vh - 5px); /* Adjust the subtracted value */
    }
}

/* For screens with height less than 500px */
@media screen and (max-height: 500px) {
    .sidebar {
        height: calc(97vh - 30px); /* Slightly reduce the subtracted value */
    }
}

/* For screens with height between 501px and 600px */
@media screen and (min-height: 501px) and (max-height: 600px) {
    .sidebar {
        height: calc(97vh - 20px); /* Adjust for medium-small screens */
    }
}
