<style>
    body {
        padding-top: 4.5rem;
    }

    .alert-pre {
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
    }

    #dlna_container {
        max-width: 300px;
        margin: 25px auto 25 auto;
        border: 1px solid #000;
        background-color: #fff;
    }

    .full-img {
        width: 80%;
        margin: 10%;
    }

    #logo {
        text-align: center;
    }

    #device {
        width: 90%;
        margin: 5%;
        padding: 5%;
    }

    #mediaURL {
        width: 90%;
        margin: 5%;
        padding: 5%;
    }

    #play {
        width: 90%;
        margin: 5%;
        padding: 5%;
        margin-bottom: 0;
    }
</style>
<h1 class="mb-3">DLNA Player</h1>

<div id="dlna_container">
    <div id="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f0/Dlna.svg/1280px-Dlna.svg.png" class="full-img">
    </div>
    <div>
        <select id="device">
            <option>Loading devices list</option>
        </select>
    </div>
    <div>
        <input type="text" id="mediaURL" placeholder="Media URL">
    </div>
    <div>
        <button id="play">Play!</button>
    </div>
    <div><img src="https://nodejs.org/static/images/logos/nodejs.png" class="full-img"></div>
</div>