# This file is where you will set environment variables specific to your application.

/.env

# This folder is where your SSL certificates and keys are stored.

/server/.keys
client-cert.pem
client-key.pem
.pem

/.vscode

#Database Files
.db
UTIL.db